<html>
    <head> 
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
        <title>
            상품읃록
        </title>
        <style>
            div {margin: 10px 0px;}
        </style>
        <body>
            <h1>상품등록</h1>
            <form method="post" enctype="multipart/form-data">
                <div>상품명 <input type="text" name="name" size="50"></div>
                <div>상품 가격 <input type="text" name="price" size="50"></div>
                <div>상품 이미지 <input type="file" name="image" size="50"></div>
                <div><button>상품등록</button></div>
            </form>

        </body>
    </head>
</html>